.toast.bg-primary {
  background-color: rgba(13, 110, 253, 0.5) !important; // primary
}

.toast.bg-success {
  background-color: rgba(25, 135, 84, 0.5) !important; // success
}

.toast.bg-danger {
  background-color: rgba(220, 53, 69, 0.5) !important; // danger
}

.toast.bg-warning {
  background-color: rgba(255, 193, 7, 0.5) !important; // warning
}

.toast.bg-info {
  background-color: rgba(13, 202, 240, 0.5) !important; // info
}

.toast.bg-dark {
  background-color: rgba(33, 37, 41, 0.5) !important; // dark
}

.toast.bg-light {
  background-color: rgba(248, 249, 250, 0.5) !important; // light
}
